/* Basic table styling */
table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
/* Styling for table cells */
th, td{
    border:1px solid #ddd;
    padding: 10px;
    text-align: center;
}  

/* Header styling */
th{
    background-color: #f2f2f2;
}